<div class="col-12">
    <div class="card">
        <div class="card-header">
            Catastic!
        </div>
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">What a title! See the entire news <a href="{{this.link}}" target="blank"> here!</a></p>
            <a href="#" class="btn btn-primary">Read Notes / Write a new Note</a>
        </div>
    </div>
    <br>
</div>
